<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<div style="padding: 20px; background-color: #f4f4f4; max-width: 600px; margin: 0 auto; border-radius: 10px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);">
    <h2 style="color: #333;">Xin chào <span th:text="${NAME}"></span>,</h2>

    <p style="color: #555; font-size: 14px;">
        Bạn đã yêu cầu đặt lại mật khẩu từ Ogani. Nhấn vào nút dưới đây để xác nhận. Link này có hiệu lực trong vòng 5 phút:
    </p>

    <a href="#" th:href="@{http://localhost:5173/reset-password(token=${TOKEN})}"
       style="display: inline-block; padding: 10px 20px; margin: 20px 0; font-size: 16px; color: white; background-color: #10B981; text-decoration: none; border-radius: 5px;">
        Đặt lại mật khẩu
    </a>

    <p style="color: #555; font-size: 14px;">
        Nếu bạn không yêu cầu thay đổi, hãy bỏ qua email này.
    </p>

</div>
</body>
</html>
