.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container {
    flex-grow: 1;
    margin-left: 20px;
}

.navbar-toggler {
    order: 1;
}

.search-container {
    order: 0;
}

.collapse {
    order: 2;
}
.navbar-nav {
    display: flex;
    flex-direction: column; 
}

@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row; 
    }
}
