.main-banner {
    background-image: url('https://kachabazar-store-nine.vercel.app/_next/image?url=https%3A%2F%2Fi.postimg.cc%2FrscqZJNz%2Fslider-1.webp&w=1080&q=75');
    background-size: cover;
    background-position: center;
}
  